.card {
    display: flex;
    width: 26%;
    height: 100%;
    background-color: #3cce91;
    border: 1px dotted rgb(29, 29, 29);
    align-items: center;
    flex-direction: column;
    transition: 0.6s;
}
.card-container {
    display: flex;
    width: 100%;
    height: auto;
}